<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created by Anjana Dunukara. It used geocode to get the location coordinates and use weatherstack API to fetch the weather data.</p>
            <img class="portrait" src="./img/pic.jpg">
        </div>
        
        {{>footer}}
    </body>
</html>